.add-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px auto auto;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-form {
  margin-top: 10px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
